@charset "utf-8";
/* CSS Document */
/*body{ background-color: #f6f6f6}
.well{ background-color: #fff; }*/
.body{ font-family: "Microsoft YaHei,Lucida Sans Unicode, Hiragino Sans GB, WenQuanYi Micro Hei, Verdana, Aril, sans-serif";}
.well{ border: none;border-radius:0;box-shadow:none}
.line_break{white-space: pre-wrap;word-wrap: break-word; line-height:24px;}
#process {
    margin: 0 auto;
    padding: 25px 30px 80px 0;
}
#process li{ text-decoration:none; list-style:none}
#process .node {
    width: 13px;
}
#process .node, #process .proce {
    background-image: url("../images/bg_state.jpg");
    background-repeat: no-repeat;
    float: left;
    height: 13px;
    position: relative;
}

.node.ready {
    background-position: -150px 0;
}
.lable_simple{border-radius: 0px;
    color: #999999;
    border: 1px solid #cccccc;
    display: inline-block;
    font-size: 14px;
    line-height: 14px;
    padding: 6px 8px 6px 8px;
    vertical-align: baseline;
    white-space: pre-wrap;
    word-wrap: break-word;
    margin: 5px 0px
    }
.lable_simple a { font-size: 14px}
#process .proce {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    border-color: #FFFFFF;
    border-image: none;
    border-style: solid;
    border-width: 0 5px;
    width: 150px;
}
#process .tx1 {
    height: 36px;
    margin-bottom: 16px;
}
#process .tx3 {
    color: #999999;
    line-height: 15px;
}
.node.wait {
    background-position: -150px -40px;
}
.node.singular {
    background-position: -150px -60px;
}
.proce.wait {
    background-position: 0 -40px;
}
.proce.doing {
    background-position: 0 -20px;
    color: #336600;
}
.proce.ready {
    background-position: 0 0;
}
#process .wait .tx2 {
    color: #999999;
}
#process ul {
    margin-top: -38px;
    position: absolute;
    text-align: center;
}
#process .proce ul {
    width: 150px;
    z-index: 5;
}
#process .node ul {
    margin-left: -120px;
    width: 318px;
    z-index: 1;
}
.top_pin{position: absolute; width:220px; right: 0px;background-color:#fff; font-weight: 100; color: #2c2c2c; font-size: 12px;
        z-index: 100; border: solid 1px #000;border-radius: 0;
}
/**聊天页面**/
.msg_window .msg_left{ }
.msg_window .msg_right{}
.right-main{ padding: 0; background-color: #fff;}
.msg_window .well{ padding: 0;border-radius: 0;}
.msg_window .msg_left .well{ padding: 10px;overflow: scroll;overflow-x: hidden}
.msg_left .link_man{cursor: pointer; background-color: #fff; font-size: 12px}
.link_man_on{background-color:#FCF8E3 !important}
.msg_right .well{background-color: #fff; }
.msg_right_top .table{ margin-bottom: 0}
.msg_right_top .table td{ border: 0px}
.msg_right_top i{ cursor: pointer; padding: 2px}
.msg_right_top .opration{ vertical-align: middle}
.msg_right_top{ border-bottom: 1px solid #E3E3E3;background-color: #F5F5F5;}
.msg_chat{  min-height: 400px;overflow: scroll;overflow-x: hidden; border:1px solid #F5F5F5}
.chat_ul{list-style: none outside none; margin: 10px}
.chat_ul li{ margin: 10px 5px;}
.chat_ul .chat_time{ font-size:8px; color:gray; margin-bottom: 0px}
.chat_left{ float: left; padding-right: 10%}
.chat_left .chat_content{ background-color: #DAEAF9;border-radius: 4px; padding: 5px}
.chat_right{ float: right; padding-left: 10%}
.chat_right .chat_content{background-color: #E7E7E9;border-radius: 4px;padding: 5px;}
.chat_content{font-size:14px;}
.send_msg .dropdown{ float: left;margin-left: 10px;}
.chat_send{ border: 1px solid #77777A}
.accordion .on_choose{ background-color:#D9EDF7 }
.ajax_page{ text-align: center; margin-bottom: 10px}
.see_more{ text-align: center; font-size: 12px; color:gray }
.opration a{text-decoration: none;}
.opration{ padding: 5px 0 10px; text-align: center}
.footer a{ color: gray}
.innner_link ,.innner_link a{ color: gray}
.writting{ font-size: 12px; padding: 5px; width: 85px}
blockquote{ border: 0; margin-bottom: 5px}
.muted{ color: #777777}
.a_balnk{ color: #000}
/**列表页筛选**/
.searchlist a{ margin:5px; text-decoration:none; padding:2px}
.searchlist a:hover{color:#00adf0}
.searchlist .nohover a:hover{ color: #fff}
.pull_search a:hover{ background: none; color: #000}
.searchlist .inline{ padding-top:0;}
.searchlist .have-sel{ background-color:#007ab8; color:#FFF;}
.plist .control-label{float: left;padding-top: 5px;width: 80px;}
.plist{ padding:0}
.text_blank{ color: #000}
.project_list{list-style: none;
  padding: 0;
  margin: 0;
  position: relative;
}
.project_list li{ margin: 10px 0;}

.person_list_style{
	list-style: none;
	padding: 0;
	margin: 10px 0;
	position: relative;
      }
.person_list_style li{ padding-top: 25px; min-height: 160px; margin:20px 0 5px 0;}
/*****时间轴样式*******/
.timeline {
  list-style: none;
  padding: 20px 0 20px;
  position: relative;
}
.timeline:before {
  top: 0;
  bottom: 0;
  position: absolute;
  content: " ";
  width: 3px;
  background-color: #eeeeee;
  right: 25px;
  margin-left: -1.5px;
}
.timeline > li {
  margin-bottom: 20px;
  position: relative;
}
.timeline > li:before,
.timeline > li:after {
  content: " ";
  display: table;
}
.timeline > li:after {
  clear: both;
}
.timeline > li:before,
.timeline > li:after {
  content: " ";
  display: table;
}
.timeline > li:after {
  clear: both;
}
.timeline > li > .timeline-panel {
  width: calc( 100% - 75px );
  float: left;
  border: 1px solid #d4d4d4;
  border-radius: 2px;
  padding: 20px;
  position: relative;
  -webkit-box-shadow: 0 1px 6px rgba(0, 0, 0, 0.175);
  box-shadow: 0 1px 6px rgba(0, 0, 0, 0.175);
}
.timeline > li > .timeline-panel:before {
  position: absolute;
  top: 26px;
  right: -15px;
  display: inline-block;
  border-top: 15px solid transparent;
  border-left: 15px solid #ccc;
  border-right: 0 solid #ccc;
  border-bottom: 15px solid transparent;
  content: " ";
}
.timeline > li > .timeline-panel:after {
  position: absolute;
  top: 27px;
  right: -14px;
  display: inline-block;
  border-top: 14px solid transparent;
  border-left: 14px solid #fff;
  border-right: 0 solid #fff;
  border-bottom: 14px solid transparent;
  content: " ";
}
.timeline > li > .timeline-badge {
  color: #fff;
  width: 50px;
  height: 50px;
  line-height: 50px;
  font-size: 1.4em;
  text-align: center;
  position: absolute;
  top: 16px;
  right: 0px;
  margin-left: -25px;
  background-color: #999999;
  z-index: 100;
  border-top-right-radius: 50%;
  border-top-left-radius: 50%;
  border-bottom-right-radius: 50%;
  border-bottom-left-radius: 50%;
}
.timeline > li.timeline-inverted > .timeline-panel {
  float: right;
}
.timeline > li.timeline-inverted > .timeline-panel:before {
  border-left-width: 0;
  border-right-width: 15px;
  left: -15px;
  right: auto;
}
.timeline > li.timeline-inverted > .timeline-panel:after {
  border-left-width: 0;
  border-right-width: 14px;
  left: -14px;
  right: auto;
}
.timeline-badge.primary {
  background-color: #2e6da4 !important;
}
.timeline-badge.success {
  background-color: #3f903f !important;
}
.timeline-badge.warning {
  background-color: #f0ad4e !important;
}
.timeline-badge.danger {
  background-color: #d9534f !important;
}
.timeline-badge.info {
  background-color: #5bc0de !important;
}
.timeline-title {
  margin-top: 0;
  color: inherit;
}
.timeline-body > p,
.timeline-body > ul {
  margin-bottom: 0;
}
.timeline-body > p + p {
  margin-top: 5px;
}
/**************时间轴样式结束*********************/
.row-fluid .span1_5{ width:8.5299%}
@media (max-width: 768px) {
    .row-fluid .span1_5{ width:100%}
}
.span1_5{ width:8.5299%}
@media (max-width: 768px) {
    .span1_5{ width:100%}
}
.table td{
    padding-top: 20px;
}
.nav-list .nav > li .dropdown-menu {
	margin: 0;
}
.nav-list .nav > li:hover .dropdown-menu {
	display: block;
}
.searchlist .dropdown-menu > li > a{ padding: 2px}
.menu_width{ width: 500px}
@media (max-width: 768px) {
    .menu_width{ width: 200px}
    .for_more_search{ width: 200px}
    .prolist_img{ text-align: center}
    .width_hide{ display: none;}
}
.well_white{
    background-color: #fff;
    min-height: 20px;
    padding: 10px;
}
.top_arrow {
    border: 0 none;
    bottom: 150px;
    cursor: pointer;
    display: block;
    height: auto;
    margin: 0;
    padding: 0;
    position: fixed;
    right: 15px;
    width: 35px;
    z-index: 2147483647;
}
.bnb_small{ font-size: 12px}
.bnb_normal{ font-size: 14px}
.bnb_midnormal{font-size: 16px}
.bnb_middle{font-size: 18px}
.bnb_middle_big{font-size: 24px}
.bnb_big{font-size: 32px}
.text_bnb{ color: #82888a;font-size: 14px;}
.text_bnb_strong{ font-weight: bold; color: #565a5c;}
.text_bnb_white{color: #fff; font-weight:100}
.text_bnb_red{ color: #ff5a5f; text-decoration: none;}
.text_bnb_blue{ color: #00adf0; text-decoration: none;}
.text_bnb_pink{ color: #ff3366; text-decoration: none;}
.project_active{background-color:#e3e3e3}
.ycpai_button{
	color: #000000;
	border-radius: 5px;
	width: 80px;
	height: 30px;
	display: inline-block;
	line-height: 30px;
	text-align: center;
	text-decoration: none !important;
	background-color: #f6f6f6;
}
.ycpai_button:hover{
	color: #000000;
	background-color: #e7e7e7;
}
.button-small{width: 80px;height: 30px;line-height: 30px;}
.button-middle{width: 120px;height: 40px;line-height: 40px; font-size: 16px; }
.button-big{width: 180px;height: 50px;line-height: 50px; font-size: 20px; }
.button-red{
	color: #fff;
	background-color: #cd565a;
}
.button-red:hover{
	color: #fff;
	background-color: #b82c2e;
}
.button-red:visited,.button-green:visited,.button-blue:visited,.button-red:focus,.button-green:focus,.button-blue:focus{
	color: #fff;
}
.button-green{
	color: #fff;
	background-color: #5bb65b;
}
.button-green:hover{
	color: #fff;
	background-color: #55aa57;
}
.button-blue{
	color: #fff;
	background-color: #59ace0;
}
.button-blue:hover{
	color: #fff;
	background-color: #2a99d6;
}

/*新按钮*/
.again-btn{ text-shadow:none; box-shadow:none; color:#fff; background:none;}
/*蓝色*/
.btn-blue{
	border:solid 1px #46577b; padding:0.3em 1em;
	background-color:#6077a9;
	/*background-image: -moz-linear-gradient(top, #6279ac, #5e75a6); /* Firefox */
    /*background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #6279ac), color-stop(1, #5e75a6)); /* Saf4+, Chrome */
    /*filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#6279ac', endColorstr='#5e75a6', GradientType='0'); /* IE*/
	}
.btn-blue:hover,.btn-blue:visited,.btn-blue:focus{ color:#fff; background-image:none; background-color:#536892; border:solid 1px #3f4e6e;}
/*绿色*/
.btn-green{
	text-shadow:none;
	box-shadow:none;
	background-image:none;
	}
/*灰色*/
.btn-grey{
	border:solid 1px #b2b3b7; padding:0.3em 1em;
	background-color:#f9fafb; color:#8e9196;
	}
.btn-grey:hover,.btn-grey:visited,.btn-grey:focus{ background-image:none; background-color:#e0e1e1; border:solid 1px #a0a1a4;}
/*橙色*/
.btn-green{
	text-shadow:none;
	box-shadow:none;
	background-image:none;
	}

/*底部固定*/
	html, body, #wrap_container {height: 96%;}
	body > #wrap_container {height: auto; min-height: 100%;}
	#wrap_container_main {padding-bottom:6%;}  /* 必须使用和footer相同的高度 */
	#wrap_container_footer {position: relative;	margin-top: -6%; /* footer高度的负值 */
	height: 6%;	clear:both;}
	.clearfix:after {content: ".";	display: block;	height: 0;	clear: both;	visibility: hidden;}
	.clearfix {display: inline-block;}
	/* Hides from IE-mac \*/
	* html .clearfix { height: 1%;}
	.clearfix {display: block;}
	/* End hide from IE-mac */
